
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;max-width: 100%;height: auto;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
font-family: PT Sans;
text-transform: uppercase;
background-color: #F2F2F2;
}
input::-webkit-input-placeholder {
	text-transform: uppercase;
color:#000000;
font-weight: bold;
}
 
input:-moz-placeholder {
		text-transform: uppercase;
color:#000000;
font-weight: bold;
}
 
input::-moz-placeholder {
		text-transform: uppercase;
color:#000000;
font-weight: bold;
}
 
input:-ms-input-placeholder {
		text-transform: uppercase;
color:#000000;
font-weight: bold;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.all{
max-width: 1200px;
margin: auto;
padding: 40px;
font-size: 14px;
line-height: 21px;
}
.header {
background-color: #ffff;
font-size: 14px;
max-height: 50px;
}
.header-list {
display: flex;
color: #000000;
justify-content: space-between;
}
.header-list a{
display: block;
color: #000000;
font-weight: bold;
line-height: 26px;
padding: 13px 72px;
}
.list__info {}
.list__catalog {}
.list__img {}
.list__map {}
.list__hotels {}
.main {

}
.main-top {

}
.main-top__logo{
background-image: url(../img/main/welcome/welcome.jpg);
min-height: 509px;
}
.main-top__photo {
}
.main-top_phototext {
text-align: center;
}
.photo-welcome {
padding-top: 77px;
}
.photo-georgeus {
margin-top: 10px;
}
.photo-sedona {
margin-top: 53px;
}
.photo-lines {
margin-top: 27px;
}







.main-top__text {
max-height: 212px;
background-image:url(../img/main/welcome/Shapelines.png);
text-align: center;
line-height: 21px;
background-color:  #ffff;
}
.main-top__sedonatext {
padding-top: 42px;
font-weight: bold;
font-size: 21px;
margin-bottom: 50px;
}
.main-top__reasons {
font-size: 14px;
padding-bottom: 47px;
}
.main-mid {
line-height: 21px;
}
.main-mid__realcity {
display: flex;
}
.realcity_text {
text-align: center;
color: #FFFFFF;
max-height: 256px;
min-width: 400px;
background-color: #81B3D2
}
.realcity__title {
padding-top: 45px;
font-weight: bold;
font-size: 21px;
padding-bottom: 25px;
}
.realcity_number {
font-size: 14px;
padding-bottom: 25px;
}
.realcity__subtitle {
font-size: 14px;

}
.realcity_photo {}
.main-mid__block {
min-height: 330px;
background-color:  #ffff;

}
.content{
padding:60px 70px 82px 70px;
justify-content: space-between;
display: flex;
text-align: center;
}
.block-house {}
.block1-house_img {
padding-bottom: 29px;
}
.block1-house__title {
font-size: 21px;
font-weight: bold;
padding-bottom: 25px;
}
.block1-house__subtitle {}
.block-food {}
.block1-food__img {
padding-bottom: 29px;
}
.block-food__title {
font-size: 21px;
font-weight: bold;
padding-bottom: 25px;
}
.block-food_subtitle {}
.block-souvenir {}
.block1-souvenir__img {
	padding-bottom: 29px;
}
.block-souvenir__title {
font-size: 21px;
font-weight: bold;
padding-bottom: 25px;
}
.block-souvenir__subtitle {}
.main-mid__devil {

color: #FFFFFF;
display: flex;
max-height: 256px;
}
.devil-img_block {
max-width: 800px;

}
.devil-text {

min-width: 400px;
text-align: center;
background-color: #81B3D2;
}
.devil-text__title {
padding-top: 50px;
padding-bottom: 25px;
font-weight: bold;
font-size: 21px;
}
.devil-text_number {
font-size: 14px;
padding-bottom: 23px;
}
.devil-text__subtitle {
font-size: 14px;


}
.main-mid__blocksquare {
min-height: 256px;

background-color: #EEEEEE;

text-align: center;
}
.blocksquare-content {
display: flex;
justify-content: space-between;
padding: 47px 77px 54px 96px;

}
.block__square {

}
.square__title {
font-weight: bold;
font-size: 21px;
padding-bottom: 25px;
}
.square__number {}
.square_subtitle {
padding-top: 23px;

}
.block__road {
}
.road__title {
font-weight: bold;
font-size: 21px;
padding-bottom: 25px;
}
.road_number {}
.road__subtitle {
		padding-top: 23px
}
.block__tourists {
}
.tourists_title {
font-weight: bold;
font-size: 21px;
padding-bottom: 25px;
}
.tourists_number {}
.tourists_subtitle {
padding-top: 23px
}
.footer {

}
.main-bot {
	height: 291px;
	text-align: center;
	background-color: #FFFFFF;
}
.main-bot__interesting {
padding: 54px;
display: block;
}
.interesting-text {}
.bot-interesting__title {
font-size: 30px;
font-weight: bold;
margin-bottom: 40px;
}
.main-bot__subtitle {
font-size: 14px;
}
.search {
color: #FFFFFF;
font-size: 21px;
margin-left: auto;
margin-right: auto;
height: 86px;
width: 568px;
background-color: #766357;
display: block;
}
.main-bot__search-text {
padding: 30px 0 30px 0;
}
.main-bot__map {
flex: 1 0 auto;
	background-image:url(..//img/main/map.jpg);
	height: 594px;

}
.form {
padding-top: 55px;
padding-left: 55px;
font-weight: bold;
background-color: #FFFFFF;
width: 568px;
height: 395px;
margin-left: auto;
margin-right: auto;
}
.login-form{

}
.login-form.appointment-item{

}
.appointment-item {
padding-bottom: 30px;
display: flex;

}

.appointment-item input {
margin-left: 25px;
padding-left: 13px;
color: #000000;
font-weight: bold;
width: 308px;
height: 38px;
background-color: #F2F2F2;
}
.calendar{
	background-color: #F2F2F2;
}

.number {
display: flex;
}
.grown {
	display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.numbers_grow{
text-align: center;
	margin-left: 49px;
	background-color: #F2F2F2;
	width: 114px;
	height: 38px;
}
.grown input{
	height: 38px;
	width: 38px;
	background-color: #F2F2F2;
	text-align: center;

}
.minus {
	margin-top: 17px;

}
.plus {
	margin-top: 13px;
}

.child {
	display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-left: 52px;
}

.numbers_children{
text-align: center;
	margin-left: 26px;
	background-color: #F2F2F2;
	width: 114px;
	height: 38px;
}
.child input{
	height: 38px;
	width: 38px;
	background-color: #F2F2F2;
	text-align: center;

}
.find{
	text-transform: uppercase;
font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #FFFFFF;
margin-top: 55px;
	background-color: #81B3D2;
	width: 458px;
	height: 58px;

}



















.footer-line {
height: 120px;
margin-top: 75px;
background: rgba(255, 255, 255, 0.9);
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: space-between;
align-items: center;
}
.footer__visits {
text-align: center;
font-size: 21px;
font-weight: bold;
margin-left: 111px;
}
.visits-contacts {
margin-bottom: 9px;
}
.contacts__tel {}
.footer-links {
display: flex;
justify-content: center;
align-items: center;
}
.Footer-links__twitter {
	height: 48px;
width: 46px;
background-color:#81B3D2;
margin-right: 6px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.twitter {

}
.visually-hidden {}
.Footer-links__facebook {
height: 48px;
width: 46px;
background-color:#81B3D2;
margin-right: 6px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.facebook {}
.visually-hidden {}
.Footer-links__youtube {
height: 48px;
width: 46px;
background-color:#81B3D2;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.youtube {}
.Footer-label__html_academy {
margin-right: 138px;
display: flex;
flex-wrap: wrap;
align-items: flex-end;
}
.footerweb {
	margin-right: 8px;
}
.webimg {}
