
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;max-width: 100%;height: auto;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body{
font-family: PT Sans;
text-transform: uppercase;
background-color: #F2F2F2;
max-width: 1200px;
margin: auto;
font-size: 14px;
line-height: 21px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
flex: 1;
height:56px; 
background-color: #FFFFFF;
max-height: 56px;
width: 1200px;
height: 100%;
}
.header img{
min-height: 70px;
z-index: 100;
}
.info {
display: flex;
}
.info a:not([href]) {
color: #766357;
}
.info a{
color: #000000;
font-weight: bold;
}
.info a:hover{
color: #81B3D2;
}
.info a:active{
mix-blend-mode: normal;
opacity: 0.3;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.info a:focus{
color: #766357;
}
.info__width{
max-height:56px; 
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 20%;
}

.logo {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
flex: 1;
max-height: 509px;
background-image:url(../img/main/background.jpg);
text-align: center;
height: 100%;

}
.logo__content {
padding-top: 62px;

}
.logo__footer {
}
.main {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
flex: 1;
}
.main-reasons {
height: 215px;
padding:42px 340px 50px 340px;
text-align: center;
background-color: #FFFFFF;
}
.main-reasons__title {
font-weight: bold;
line-height: 26px;
font-size: 21px;
margin-bottom: 45px;
}
.main-reasons__text {
line-height: 26px;
font-size: 14px;
}

.title {
text-align: center;
padding-left: 120px;
padding-right: 120px;
font-size: 21px;
line-height: 21px;
font-weight: bold;

}
.text{
margin-top: 25px;
padding-left: 50px;
padding-right: 50px;
font-size: 14px;
line-height: 21px;
}
.text__house{
margin-top: 25px;
padding-left: 50px;
padding-right: 50px;
font-size: 14px;
line-height: 21px;
}
.main-realcity {
display: flex;
}
.main-realcity__block {
padding-top: 50px;
padding-bottom: 50px;
color: #FFFFFF;
background-color: #81B3D2;
height: 256px;
width: 400px;
text-align: center;

}
.main-realcity__img {
width: 800px;
height: 256px;
}
.main-house {
padding-top: 60px;
padding-bottom: 60px;
display: flex;
height: 330px;

}
.main-house__block {
text-align: center;
width: 400px;
}
.icon {
margin-bottom: 28px;
}
.main-devil {

display: flex;
}
.main-devil__img {}
.main-devil__block {
padding-top: 50px;
padding-bottom: 50px;
color: #FFFFFF;
background-color: #81B3D2;
height: 256px;
width: 400px;
text-align: center;
}
.text__devil{
margin-top: 25px;
padding-left: 75px;
padding-right: 75px;
font-size: 14px;
line-height: 21px;
}
.main-square {
background-color: #EEEEEE;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
height: 256px;
}
.main-square__block {
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
width: 400px;
}
.main-interesting {
background-color: #FFFFFF;
text-align: center;
padding-top: 60px;

}
.main-interesting__title {
font-weight: bold;
line-height: 26px;
font-size: 21px;
}
.main-interesting__text {
padding-left: 382px;
padding-right: 382px;
margin-top: 38px;
margin-bottom: 48px;
line-height: 26px;
font-size: 14px;
}
.main-search {
	text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
margin:auto;
font-weight: bold;
line-height: 26px;
font-size: 21px;
color: #FFFFFF;
background-color: #766357;
width: 568px;
height: 86px;
}
.main-search:hover{
background-color: #604E43;
}
.main-search:active{
background-color: #503E33;
color: #847870;
}
.footer {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
height: 594px;
background-image:url(../img/main/map.jpg);
}
.form {
padding: 55px;
margin: 0 auto;
background-color: #FFFFFF;
height: 395px;
width: 568px;
margin-bottom: 78px;
}
.form-item {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
align-items: center;
padding-bottom: 30px;
}
.form-text {
width: 112px;
font-weight: bold;
line-height: 26px;
}
.form-field {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
background-color: #F2F2F2;
height: 38px;
}

.form-input {
	text-transform: uppercase;
line-height: 26px;
font-weight: bold;
flex: 1;
background-color: #F2F2F2;
width: 308px;
padding-left: 14px;
border:2px solid #F2F2F2;
}
.form-input:hover{
	background-color: #EBEBEB;
}
.form-input:focus{
	background-color: #FFFFFF;
	border:2px solid #F2F2F2;
}
.form__icon {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
height: 38px;
width: 38px;
cursor: pointer;
}
.form__icon__people {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
height: 38px;
width: 38px;
cursor: pointer;
}
.form__icon__people:hover rect{
fill: black;
}
.form__icon__people:active rect{
fill: #81B3D2;
}
.svgcalendar:hover path{
fill: black;
}
.svgcalendar:active path{
fill: #81B3D2;
}
.svg__union:hover path{
fill: black;
}
.svg__union:active path{
fill: #81B3D2;
}
.form-peoples {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
}
.form-people {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
align-items: center;
height: 38px;

}
.form__text__grownup {
font-weight: bold;
width:112px;
}
.form__text__children {
padding-right: 25px;
padding-left: 55px;
font-weight: bold;
}
.form-field__people {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
align-items: center;
align-items: center;
background-color: #F2F2F2;
}

.form-input__people{
font-weight: bold;
background-color: #F2F2F2;
text-align: center;
height: 38px;
width: 38px;
}
.button{
margin-top: 55px;
text-transform: uppercase;
font-size: 21px;
line-height: 26px;
font-weight: bold;
color: #FFFFFF;
background-color: #81B3D2;
width: 458px;
height: 58px;
}
.button:hover{
	background-color: #669EC0;

}
.button:active{
	background-color:#5496BD;
		color: #87B5D1;
}
.footer-footer {
padding: 30px 140px 30px 140px;
flex: 0;
height: 120px;
background: rgba(255, 255, 255, 0.9);
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: space-between;
align-items: center;
}
.footer-info {
}
.footer-links {
display: flex;
justify-content: center;
align-items: center;
}
.footer-links__icons {
height: 46px;
width: 46px;
background-color:#81B3D2;
margin-right: 6px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
cursor: pointer;
}
.footer-links__icons:hover{

}
.footer-links__icons:hover{
	background-color: #669EC0;

}
.footer-links__icons:active{
	background-color:#5496BD;
		color: #87B5D1;
}
.footer-links__icons:active path{
	fill: #87B5D1;
}


.wrap {}
.footer-visit {
display: flex;
justify-content: center;
align-items: center;
align-items: center;
}
.footer-footer p{
font-size: 21px;
font-weight: bold;
line-height: 26px;
}
.footer-footer span{
padding-right:8px;
}

.footer-visit__logo:hover path{
fill:#81B3D2;
}
.footer-visit__logo:active path{
fill:#BDBBBC;
}

.filter {
	color: #fff;
	background-image: url(../img/inner/background.jpg);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 217px;
	padding: 26px 73px 32px 68px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter-column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 68%;
}
.filter-column__grid {
padding-right: 120px;
}
.filter__title {
	font-weight: bold;
	line-height: 21px;
	font-size: 16px;
	margin-bottom: 24px;
}
.filter-column__grid p{
	margin-bottom: 23px;
	font-size: 14px;

}
.filter-column__grid span{
	padding-left: 15px;
}
.filter-sidebar {
	width: 316px;
}
.filter-sidebar__row {}
.filter-sidebar__button {}
.page {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: #FFFFFF;
}
.page-heading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border: 1px solid #E5E5E5;
	height: 86px;
	padding: 30px 73px 30px 73px;
}
.page-heading__info {
	flex: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
align-items: center;
}

.page-heading__info__title {
	font-weight: bold;
	line-height: 26px;
	font-size: 21px;
	padding-right: 46px;
}
.page-heading__info__subtitle {
	font-size: 12px;
	line-height: 18px;
		padding-right: 40px;
}
.page-heading__info__subtitle__class{}
.page-heading__info a:not([href]) {
color:#81B3D2;
opacity: 1;
border-bottom: 0px;
}
.page-heading__info a{
	opacity: 0.3;
	color: #000000;
	line-height: 18px;
	font-size: 12px;
	margin-right: 32px;
	border-bottom: 1px dotted #81B3D2;
}
.page-heading__info__subtitle__class:hover{
color: #81B3D2;
opacity:1;
}
.page-heading__info__subtitle__class:active{
color: #000000;
opacity:1;
border-bottom: 0px dashed #81B3D2;
}
.page-heading__info__subtitle__class__img{
	width: 20px;
	height: 20px;
}
.page-heading__info__subtitle__class__img:hover path{
	fill: #000000;
}
.page-heading__info__subtitle__class__img:focus path{

}
.page-heading__info__subtitle__class__img:active path{
		fill: #81B3D2;
}
.page-heading__viget {

}
.page-content {
	border: 1px solid #E5E5E5;
	height: 150px;
	background-color: #FFFFFF;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 30px 73px 30px 73px;
}
.page-content__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%
}
.page-content__info__img {
	padding-right: 29px;
}
.page-content__info__content {
flex-grow: 1;
}
.page-content__info__content__title {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	margin-bottom: 7px;
	cursor: pointer;
}
.page-content__info__content__title:hover{
color: #81B3D2;
}
.page-content__info__content__title:active{
color: #B3B3B3;
}
.page-content__info__content__subtitle {
	display: flex;
	font-size: 14px;
	line-height: 21px;
	width: 256px;
	margin-bottom: 10px;
}
.page-content__info__content__subtitle p{
	width: 46%;
}

.page-content__info__content__buttons {
	height: 27px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.page-content__info__content__buttons a{
display: block;
text-align: center;
width: 110px;
background-color: #81B3D2;
color: #FFFFFF;

display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;
align-items: center;
}
.page-content__info__content__buttons a:hover{
	background-color: #669EC0;
}
.page-content__info__content__buttons a:active{
	background-color: #5496BD;
color: #87B5D1;
}


.page-content__info__content__buttons button{
	background-color: #766357;
	width: 142px;
	display: block;
	margin-left: 6px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
}
.page-content__info__content__buttons button:hover{
background-color: #604E43;
}
.page-content__info__content__buttons button:active{
background-color: #503E33;
color: #847870;
}
.page-content__viget {
flex-direction: row-reverse;
}
.page-content__viget img{
padding-left: 5px;
margin-bottom: 47px;
}
.page-heading__info__subtitle__class__img{
width: 15px;
height: 10px;
padding-right: 5px;
margin-bottom: 47px;
}

.page-content__viget__amara {
flex-direction: row-reverse;
display: flex;
}
.page-content__viget__desert {
flex-direction: row-reverse;
display: flex;
}
.page-content__viget__villas {
	flex-direction: row-reverse;
display: flex;
}
.page-content__viget__reiting {
width: 110px;
height: 27px;
font-size: 14px;
line-height: 21px;
background-color: #F2F2F2;
color: #666666;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
align-items: center;

}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;


}

.range-filter {
  width: 318px;
  margin-top: 10px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
	width: 316px;
  position: relative;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-right: 20px;
  border-radius: 5px;
  border-color:rgba (255,255,255,0.5);
}

.range-controls .scale {
	width: 316px;
  height: 2px;
  background: #ABABAB;
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  transition:.1s;
}
.range-controls .toggle:hover{
transform: scale(1.3);
}

.range-controls .toggle-min {

}

.range-controls .toggle-max {
  left: 248px;
}

.price-controls {
display: flex;
justify-content: space-between;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
width: 318px;
height: 38px;
margin-bottom: 11px;
justify-content: center;
align-items: center;


}

.price-controls label {
  text-transform: uppercase;
font-family: PT Sans;
  font-size: 16px;
}
.price-controls span{
}
.min-price {
	padding-left: 50px;
}
.min-price label{
}
.max-price label {
padding-left: 25px;
}
.max-price{
	padding-left: 40px;
}



.price-controls input {
  width: 80px;
  padding: 10px 0px 10px 0px;
  Background-color: transparent 
  border-radius: 5px;
    background-color: var(--basic-black);
color:#ffff; 
  font-family: inherit;
  font-size: inherit;
}
.filter-sidebar__button {
	margin: auto;
	width: 137px;
height: 36px;
    background-color: var(--basic-black);
border: 1px solid #FFFFFF;
color:#ffff; 
text-transform: uppercase;
font-size: 14px;
line-height: 21px;
}
.filter-sidebar__button:hover{
color: #000000;
background-color: #FFFFFF;
}


