
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;max-width: 100%;height: auto;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body{
	font-family: PT Sans;
	text-transform: uppercase;
background-color: #F2F2F2;
}
.all{
	max-width: 1200px;
	margin: auto;
padding: 40px;

}
.header {
background-color: #ffff;
	font-size: 14px;
}
.header-list {	text-decoration-color: #000000;
font-weight: bold;
}
.main {
	
}
.main-top {
background-image:url(..\img\main\welcome\welcome.jpg);
}
.main-top__logo{

}
.main-top__photo {}
.main-top_phototext {}
.main-top__text {
	line-height: 26px;
	background-color:  #ffff;
}
.main-mid {
	line-height: 21px;
}
.main-mid__realcity {}
.realcity_text {
	background-color: #81B3D2
}
.realcity__title {}
.realcity_number {}
.realcity__subtitle {}
.realcity_photo {}
.main-mid__block {
	background-color:  #ffff;
}
.block-house {}
.block1-house_img {}
.block1-house__title {}
.block1-house__subtitle {}
.block-food {}
.block1-food__img {}
.block-food__title {}
.block-food_subtitle {}
.block-souvenir {}
.block1-souvenir__img {}
.block-souvenir__title {}
.block-souvenir__subtitle {}
.main-mid__devil {}
.devil-img_block {}
.devil-text {
	background-color: #81B3D2;
}
.devil-text__title {}
.devil-text_number {}
.devil-text__subtitle {}
.main-mid__blocksquare {
	background-color: #EEEEEE;
}
.block__square {}
.square__title {}
.square__number {}
.square_subtitle {}
.block__road {}
.road__title {}
.road_number {}
.road__subtitle {}
.block__tourists {}
.tourists_title {}
.tourists_number {}
.tourists_subtitle {}
.main-bot {}
.main-bot__interesting {
	background-color:  #ffff;
}
.interesting-text {
	line-height: 24px;
}
.bot-interesting__title {}
.main-bot__subtitle {}
.search {}
.main-bot__search-text {}
.form {
	line-height: 26px;
	background-color:  #ffff;
}
.arrival {}
.departure {}
.number {}
.grown {}
.grownup_number {}
.child {}
.child_number {}

.main-bot__map {}
.footer {
	background: rgba(255, 255, 255, 0.9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-contacts {}
.footer-links {}
.Footer-label__html_academy {}